.no-wrap{
  word-break: normal !important;
}
#app{
  margin: auto;
  max-width: 1040px;
}
#appsizes{
  margin: auto;
  max-width: 1140px;
  background-color: transparent !important;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.pointer{
  cursor: pointer;
  user-select: none;
}